{{'banner.css' |  asset_url | stylesheet_tag}}
<div class="page">
  <div class="mobile_banner_header">
    <div class="menu_icon" onclick="toggleMenu(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <div class="mobile_banner_header_title">
      {{ section.settings.mobile_banner_header_title }}
    </div>

  </div>
  <div class="mobile_menu" id="mobileMenu">
    <p class="menu_text"> Find the ideal gift for your loved ones.</p>
    <button type="button" class="menu_button">
      {{ section.settings.right_banner_header }}
    </button>
  </div>
  <div class="banner_header">
      <div class="left_banner_header">
          {{ section.settings.left_banner_header }}
      </div>
      <div class="middle_banner_header">
          {{ section.settings.middle_banner_header }}
      </div>
      <div class="right_banner_header">
          <button type="button" class="header_button"> {{section.settings.right_banner_header}}</button>
      </div>
  </div>
  
  
  
  <div class="mobile_banner_content">
    <div class="mobile_banner_text">
        <p class="mobile_banner_title">{{ section.settings.mobile_banner_title }}</p>
        <p class="mobile_banner_subtitle">{{ section.settings.mobile_banner_subtitle }}</p>
    </div>
    <div class="mobile_img_container">
      <img class="mobile_img" src="{{ 'banner-logo.svg' | asset_url}}" width="100%" height="380 rem">
      <button type="button" class="mobile_banner_button"> {{ section.settings.mobile_banner_button }} </button>
    </div>
    
  </div>
  <div class="banner_content">
    <div class="img1_container">
      <img class="img1" src="{{ 'banner-logo.svg' | asset_url}}" width="100%" height="820 rem">
    </div>
    <div class="banner_lower"> 
      <div class="banner_text">
        <p class="title">{{ section.settings.banner_title }}</p>
        <p class="subtitle">{{ section.settings.banner_subtitle }}</p>
        <button type="button" class="banner_button"> {{ section.settings.banner_button }}  </button>
      </div>
      <div class="banner_right_image">
        <img class="img2" src="{{ 'banner-logo.svg' | asset_url}}" width="162%" height="820rem">
      </div>
    </div> 
    
  </div>
  
  
  
  
  
  <div class="banner_footer">
    {{ section.settings.banner_footer}}
  </div>

</div>

<script>
function toggleMenu(icon) {
  icon.classList.toggle("change"); 
  const menu = document.getElementById("mobileMenu");
  if (menu.style.display === "flex") {
    menu.style.display = "none"; 
  } else {
    menu.style.display = "flex";
  }
}
</script>
{%  schema  %}
    {
        "name": "banner",
        "settings": [
            {
                "type": "text",
                "id": "left_banner_header",
                "label": "Banner's Left Header",
                "default": "TISSON VISON"
            },
            {
                "type": "text",
                "id": "middle_banner_header",
                "label" : "Banner's Middle Header",
                "default": "Find the ideal gift for your loved ones."
            },
            {
                "type": "text",
                "id": "right_banner_header",
                "label": "Banner's Right Header",
                "default": "CHOOSE GIFT &#8594"
            },
            {
              "type": "text",
              "id": "banner_title",
              "label": "Banner's Title",
              "default" : "The Gift Guide"
            },
          {
            "type": "text",
            "id": "banner_subtitle",
            "label": "Banner's Subtitle",
            "default": "Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season."
          },
          {
            "type": "text",
            "id": "banner_button",
            "label": "Banner's Button",
            "default": "SHOP NOW &#8594;"
          },
          {
            "type": "text",
            "id": "banner_footer",
            "label": "Banner's Footer",
            "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
          },
          {
            "type": "text",
            "id": "mobile_banner_header_title",
            "label": "Banner's header title for Mobile version",
            "default":"TISSO VISON"
          },
          {
            "type": "text",
            "id": "mobile_banner_title",
            "label": "Mobile's banner title",
            "default":"The Gift Guide"
          },
          {
            "type": "text",
            "id": "mobile_banner_subtitle",
            "label": "Mobiles's banner subtitle",
            "default":"Discover Joy: Your Ultimate Holiday Gift Destination."
          },
          {
            "type": "text",
            "id": "mobile_banner_button",
            "label": "Mobile's banner button",
            "default":"SHOP NOW   &#8594;"
          }

        ]
    }
{% endschema %} 