{{'grid.css' |  asset_url | stylesheet_tag}}

<p>Tisso vison in the wild</p>

<div class="grid">
    {% for product in section.settings.product_list %}
      <div class="product">
        <img src="{{ product.featured_image| img_url: '480x480' }}" alt="{{ product.title }}" width="600px" height="600px">
      </div>
    {% endfor %}
</div>

<div class="modal">
    <span class="modal_close_button">
      &#10006;
    </span>
  <div class="modal_content">
    <div class="modal_img">
      <img src="{{ product.featured_image| img_url: '480x480' }}" alt="{{ product.title }}" width="150px" height="150px">
    </div>
    <div class="modal_text">
      <h2 class="modal_title"> product title </h2>
      <p class="modal_price"> Product Price </p>
      <p class="modal_description"> Product description </p>
    </div> 
  </div>
  
  <div class="modal_color_selection">
    
  </div>
  
  <div class="modal_size_selection">
    
  </div>
</div>

{% schema %}
  {
    "name": "grid",
    "settings": [
      {
        "type": "product_list",
        "id": "product_list",
        "label": "Select the Products to be featured",
        "limit": 6
        
      }
    ]
  }
{% endschema %}